<app-toolbar [title]="'Register'"></app-toolbar>

<ion-content [fullscreen]="true">
  <ion-card>

    <ion-card-header>
      <ion-card-title>Create Account</ion-card-title>
      <ion-card-subtitle>Join us to get started</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <form>      
        <ion-item>
          <ion-input
            labelPlacement="floating"
            label="Full Name"
            type="text"
            required
            [(ngModel)]="fullName"
            name="fullName"
            placeholder="Enter your name">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            labelPlacement="floating"
            label="Email"
            type="email"
            required
            [(ngModel)]="email"
            name="email"
            placeholder="Enter your email">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            labelPlacement="floating"
            label="Password"
            type="password"
            required
            [(ngModel)]="password"
            name="password"
            placeholder="Enter your password">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            labelPlacement="floating"
            label="Confirm Password"
            type="password"
            required
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            placeholder="Re-enter your password">
          </ion-input>
        </ion-item>

        <ion-button id="registerAnchor" expand="block" type="submit" (click)="registerWithEmail()" >
          <ion-icon name="person-add-outline" slot="start"></ion-icon>
          Register
        </ion-button>

      
      <ion-item lines="full" class="ion-margin-top">
        <ion-label class="ion-text-center">OR</ion-label>
      </ion-item>

      <ion-button expand="block" color="danger" (click)="registerWithGoogle()">
        <ion-icon name="logo-google" slot="start"></ion-icon>
        Sign up with Google
      </ion-button>

      <ion-button fill="clear" (click)="goToLogin()" class="ion-margin-top">
        Already have an account? Login
      </ion-button>
</form>
    </ion-card-content>
  </ion-card>
  <ion-toast
    trigger="registerAnchor"
    position="bottom"
    positionAnchor="footer"
    [message]="statusMessage"
    duration="2000"
  ></ion-toast>
</ion-content>
