<div class="flex flex-column w-full">
    <div >
        <app-navbar ></app-navbar>
    </div>
    <div class="flex flex-row gap-6 p-5">
        <div class="w-3 hidden sm:block">
            <app-side-nav></app-side-nav>
        </div>
        <div class="w-12 sm:w-9">
            <div class="flex flex-column sm:flex-row gap-6">
                <div class="w-12 sm:w-9">
                    <router-outlet></router-outlet>
                </div>
                <div class="w-12 sm:w-3">
                    <app-right-nav></app-right-nav>
                </div>
            </div>
            
        </div>
    </div>
    
</div>

