<ion-app>

  <ion-content class="ion-padding" [style.padding-top]="safeTopPadding" [style.padding-bottom]="safeBottomPadding">
    <ion-router-outlet></ion-router-outlet>
  </ion-content>

  <ion-footer [style.padding-bottom]="safeBottomPadding">
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="navigate('home')">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="navigate('quiz')">
        <ion-icon name="school-outline"></ion-icon>
        <ion-label>Start Quiz</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="navigate('ask-question')">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Create Post</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="navigate('forum')">
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        <ion-label>See Posts</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="navigate('profile')">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-footer>

</ion-app>
