<app-toolbar [title]="isComplete? 'Quiz' : 'Question ' + (currentIndex+1)"></app-toolbar>

@if(isComplete) {
<ion-content class="ion-text-center ion-padding" fullscreen>
  <div class="center-content">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" size="large" (click)="Home()">
            Home
          </ion-button>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" size="large" (click)="Reload()">
            Start Again
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>

  </div>
</ion-content>

}
@else {

@if(questions) {
<ion-content class="ion-padding">

  @if (questions.length > 0) {
  <ion-card>
    <!-- Swipable images -->

    <!-- Post Image -->
    <div class="post-image-container">
      @if (questions[currentIndex].images && questions[currentIndex].images.length > 1) {

      <swiper-container #swiper [slidesPerView]="1" [spaceBetween]="0" [centeredSlides]="true" class="post-image-slider"
        zoom="true">

        @for (image of displayedImages[currentIndex]; track image.url; let i = $index) {
        <swiper-slide [zoom]="true">
          <div class="swiper-zoom-container">
            <img [src]="image.url" class="post-image" (load)="handleImageLoad(i)" (error)="handleImageError(i)" />
          </div>

          @if (image.loading && !image.error) {
          <div class="loading-overlay">
            <ion-spinner name="crescent"></ion-spinner>
          </div>
          }

          @if (image.error) {
          <div class="error-overlay">
            <div class="error-content">
              <ion-button fill="clear" (click)="reloadImage(i)">
                <ion-icon name="refresh" slot="icon-only"></ion-icon>
              </ion-button>
              <p>Failed to load image</p>
            </div>
          </div>
          }
        </swiper-slide>
        }
      </swiper-container>


      <ion-row class="ion-justify-content-center ion-align-items-center ion-padding swipe-hint">
        <ion-icon name="arrow-back" class="swipe-icon"></ion-icon>
        <ion-icon name="arrow-forward" class="swipe-icon"></ion-icon>
      </ion-row>
      } @else {
      <img [src]="questions[currentIndex].images[0] || ''" class="post-image" />
      }
    </div>



    <ion-card-content class="ion-padding-top">

      @if (questions[currentIndex].type === "whichTissue" ) {
      <p>
        Please select the correct tissue and staining method for this preparation.
      </p>
      }

      <ion-grid>
        <ion-row>
          @for (choice of questions[currentIndex].choices; track choice; let i = $index) {
          <ion-col size="12">
            <ion-button expand="block" fill="outline" (click)="selectAnswer(i)" [color]="getChoiceColor(i)">
              <!-- @if (selectedChoice === i) {
                    <ion-icon name="checkmark-circle" slot="start"></ion-icon>
                  } -->
              {{ choice }}
            </ion-button>
          </ion-col>
          }
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" class="ion-margin-top" (click)="nextQuestion()" [disabled]="selectedChoice === null">
    Next
  </ion-button>
  } @else {
  <ion-text>Loading questions...</ion-text>
  }
</ion-content>
}
@else {
<ion-content>Loading...</ion-content>

}



}