<app-toolbar [title]="isComplete? 'Quiz' : 'Quiz - Question ' + currentIndex+1"></app-toolbar>

@if(isComplete) {
<ion-content class="ion-text-center ion-padding" fullscreen>
  <div class="center-content">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" size="large" (click)="Home()">
            Home
          </ion-button>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" size="large" (click)="Reload()">
            Start Again
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>

  </div>
</ion-content>

}
@else {

@if(questions) {
<ion-content class="ion-padding">

  @if (questions.length > 0) {
  <ion-card>
    <!-- Swipable images -->

    <!-- Post Image -->
    <div class="post-image-container">
      @if (questions[currentIndex].images && questions[currentIndex].images.length > 1) {
      <swiper-container #swiper [slidesPerView]="1" [spaceBetween]="0" [centeredSlides]="true"
        class="post-image-slider">

        @for (image of questions[currentIndex].images; track image) {
        <swiper-slide>
          <img [src]="image" class="post-image" />
        </swiper-slide>
        }
      </swiper-container>
      <ion-row class="ion-justify-content-center ion-align-items-center ion-padding swipe-hint">
        <ion-icon name="arrow-back" class="swipe-icon"></ion-icon>
        <ion-icon name="arrow-forward" class="swipe-icon"></ion-icon>
      </ion-row>
      } @else {
      <img [src]="questions[currentIndex].images[0] || ''" class="post-image" />
      }
    </div>



    <ion-card-content class="ion-padding-top">
      
        @if (questions[currentIndex].type === "whichTissue" ) {
          <p>
            Please select the correct tissue and staining method for this preparation.
          </p>
        }

      <ion-grid>
        <ion-row>
          @for (choice of questions[currentIndex].choices; track choice; let i = $index) {
          <ion-col size="12">
            <ion-button expand="block" fill="outline" (click)="selectAnswer(i)" [color]="getChoiceColor(i)">
              <!-- @if (selectedChoice === i) {
                    <ion-icon name="checkmark-circle" slot="start"></ion-icon>
                  } -->
              {{ choice }}
            </ion-button>
          </ion-col>
          }
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" class="ion-margin-top" (click)="nextQuestion()" [disabled]="selectedChoice === null">
    Next
  </ion-button>
  } @else {
  <ion-text>Loading questions...</ion-text>
  }
</ion-content>
}
@else {
<ion-content>Loading...</ion-content>

}



}