<app-toolbar [title]="'My Profile'"></app-toolbar>
<ion-content class="ion-padding" fullscreen>
@if(user) {
  <ion-card>
    <ion-card-header class="ion-text-center">

      <ion-avatar style="margin: 0 auto; width: 100px; height: 100px;">
        <img [src]="user.photoURL || defaultAvatar" />
      </ion-avatar>

      <ion-card-title>{{ user.displayName || 'Anonymous' }}</ion-card-title>
      <ion-card-subtitle>{{ user.email }}</ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>
      <!-- <ion-list lines="none">

        <ion-item>
          <ion-label>Email Verified</ion-label>
          <ion-note slot="end">
            {{ user.emailVerified ? 'Yes' : 'No' }}
          </ion-note>
        </ion-item>

        

      </ion-list> -->

      <ion-button expand="block" color="danger" (click)="logout()">
        <ion-icon name="log-out-outline" slot="end"></ion-icon>
        Logout
      </ion-button>

    </ion-card-content>
  </ion-card>
}
  
@else {
<div class="ion-text-center">
    <p>Loading user info...</p>
  </div>

}
  
</ion-content>
