<ion-header>
  <ion-toolbar>
    <ion-title>Create Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Basic Fields (Always visible) -->
  <!-- Image Upload Section -->
<ion-item lines="none" >
  <ion-label position="stacked" >Upload Images (Max 5)</ion-label>
  <input 
    type="file" 
    multiple 
    accept="image/*" 
    (change)="onImageUpload($event)"
    #fileInput
    style="display: none"
  >
  <ion-button class="ion-padding-horizontal" fill="outline" (click)="fileInput.click()">
    <ion-icon slot="start" name="cloud-upload"></ion-icon>
    Select Images
  </ion-button>
</ion-item>

<!-- Image Previews -->
 @if(uploadedImages.length > 0) {
  <ion-grid>
  <ion-row>
    @for (image of uploadedImages; track $index) {
      <ion-col size="6" size-md="4" size-lg="3">
        <ion-card>
          <img [src]="image.preview" style="height: 100px; object-fit: cover"/>
          <ion-card-content>
            <ion-button 
              expand="block" 
              fill="clear" 
              color="danger" 
              size="small"
              (click)="removeImage($index)"
            >
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    }
  </ion-row>
</ion-grid>
 }


  <ion-item>
    <ion-input
    labelPlacement="floating"
      label="Content"
      [(ngModel)]="post.content"
      placeholder="Enter your question...">
    </ion-input>
  </ion-item>

  <!-- More Button -->
  <ion-button 
    fill="clear" 
    size="small" 
    (click)="toggleAdditionalFields()">
    {{ showAdditionalFields ? 'Hide Additional Fields' : 'Show Additional Fields' }}
  </ion-button>

  <!-- Additional Fields (Shown when expanded) -->
  @if (showAdditionalFields) {
    <!-- Subjects -->
    <ion-item>
      <ion-input
      labelPlacement="floating"
        label="Add Subjects"
        [(ngModel)]="newSubjectsInput"
        placeholder="Comma separated subjects"
        (keyup.enter)="addSubjects()">
      </ion-input>
      <ion-button slot="end" (click)="addSubjects()">Add</ion-button>
    </ion-item>

    <div class="chips-container">
      @for (subject of post.subjects; track subject) {
        <ion-chip (click)="post.subjects = removeItem(post.subjects || [], subject)">
          <ion-label>{{ subject }}</ion-label>
          <ion-icon name="close"></ion-icon>
        </ion-chip>
      }
    </div>

    <!-- Tags -->
    <ion-item>
      <ion-input
      labelPlacement="floating"
        label="Add Tags"
        [(ngModel)]="newTagsInput"
        placeholder="Comma separated tags"
        (keyup.enter)="addTags()">
      </ion-input>
      <ion-button slot="end" (click)="addTags()">Add</ion-button>
    </ion-item>

    <div class="chips-container">
      @for (tag of post.tags; track tag) {
        <ion-chip (click)="post.tags = removeItem(post.tags || [], tag)">
          <ion-label>{{ tag }}</ion-label>
          <ion-icon name="close"></ion-icon>
        </ion-chip>
      }
    </div>

    <!-- Staining Methods -->
    <ion-item>
      <ion-input
      labelPlacement="floating"
        label="Add Staining Methods"
        [(ngModel)]="newStainingMethodsInput"
        placeholder="Comma separated methods"
        (keyup.enter)="addStainingMethods()">
      </ion-input>
      <ion-button slot="end" (click)="addStainingMethods()">Add</ion-button>
    </ion-item>

    <div class="chips-container">
      @for (method of post.stainingMethods; track method) {
        <ion-chip (click)="post.stainingMethods = removeItem(post.stainingMethods || [], method)">
          <ion-label>{{ method }}</ion-label>
          <ion-icon name="close"></ion-icon>
        </ion-chip>
      }
    </div>
  }

  <ion-toast
    trigger="footerAnchor"
    position="bottom"
    positionAnchor="footer"
    [message]="toastMessage"
    duration="2000"
  ></ion-toast>
  <!-- Submit Button -->
  <ion-button id="footerAnchor" expand="block" (click)="onSubmit()">
    Submit Post
  </ion-button>
</ion-content>