@if (post) {
    <p-card [style]="{ width: '100%', overflow: 'hidden' }">
    
      <ng-template #title> {{ post.title }} </ng-template>
      <ng-template #subtitle> {{ post.userName }} </ng-template>
  
      <!-- Carousel for Post Images -->
      <div class="overflow-hidden">
        <p-carousel 
          [value]="post.images" 
          [numVisible]="1" 
          [numScroll]="1" 
          [circular]="true" 
          [showIndicators]="true"
          [showNavigators]="true" 
          class="custom-carousel">
          
          <ng-template pTemplate="item" let-image>
            <div class="overflow-hidden">
                <div 
                  class="bg-auto bg-no-repeat bg-center bg-gray-200 border-round h-20rem w-full" 
                  (click)="openDialog(image)"
                  [style.backgroundImage]="'url(' + image + ')'">
                </div>
              </div>
           
          </ng-template>
        </p-carousel>
      </div>
  
      <p> {{ post.text }} </p>
  
      <ng-template #footer>
        <div class="flex justify-content-end gap-4 mt-1">
          <span>
            <p-button 
              label="Details" 
              class="w-full" 
              styleClass="w-full" 
              icon="pi pi-arrow-right" 
              [routerLink]="'/posts/' + post.id">
            </p-button>
          </span>
        </div>
      </ng-template>
    </p-card>

    <div class="card flex justify-center">
        
        <p-dialog 
    [(visible)]="displayModal" 
    [modal]="true" 
    [closable]="true" 
    [baseZIndex]="10000" 
    [style]="{ width: '80vw', height: '80vh' }">
    <div class="overflow-hidden">
        <div 
          class="bg-contain bg-no-repeat bg-center bg-gray-200 border-round h-20rem w-full" 
          [style.backgroundImage]="'url(' + selectedImage + ')'">
        </div>
      </div>
  </p-dialog>
    </div>
  }
  